#text {
    text-align: center;
}

form {
    text-align: center;
}

#pop_up {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: #FFCCCC;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}