* {
    text-align: center;
}
#head {
    text-align: center;
    text-decoration: underline;
}
#but_popup{
    display: inline-block;
    
}

#inline {
    display: inline-block;
}

#pop_up{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: #FFCCCC;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
