<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Controls|Go-VYA</title>
    <style>
        #inline {
            display: inline-block;
        }

        * {
            text-align: center;
        }

        h1 {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Admin Dashboard</h1>

    <p>Welcome Admin {{username}}</p>
    <p>Id:{{userid}}</p>
    <div id="inline">
        <form action="/admin_funct" method="POST">
            <input type="hidden" name="user_id" value="{{ userid }}">
            <input type="hidden" name="user_name" value="{{username}}">
            <input type="hidden" name="todo" value=1>
            <button type="submit" class="button-container">Verify registeration requests</button>
        </form>

        <form action="/admin_funct" method="POST">
            <input type="hidden" name="user_id" value="{{ userid }}">
            <input type="hidden" name="user_name" value="{{username}}">
            <input type="hidden" name="todo" value=2>
            <button type="submit" class="button-container">View Order Status</button>
        </form>

        <form action="/admin_funct" method="POST">
            <input type="hidden" name="user_id" value="{{ userid }}">
            <input type="hidden" name="user_name" value="{{username}}">
            <input type="hidden" name="todo" value=3>
            <button class="button-container">View Employees</button>
        </form>
        
    </div>

</body>

</html>