<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Controls|Go-VYA</title>
    <style>
        .button-container {
            display: inline-block;
        }

        * {
            text-align: center;
        }
    </style>
</head>

<body>
    <p>{{Welcome}}</p>
    <button class="button-container">Verify registeration requests</button>
    <button class="button-container">View Order Status</button>
</body>

</html>