<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registeration|Go-VYA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/customer_register_styles.css') }}">
</head>


<body>
    <h1>Customer Registeration</h1>

    {% if Success %}
    <p id="pop_up">{{Success}}</p>
    {% endif %}
    <div class="container">
        <div class="content"><br>
            <p>Enter Customer Details:</p>

            <form action="/cust_reg" method='POST'>

                <label for="name">Enter Name:</label>
                <input type="text" id="name" name="name" required><br><br>
                <!-- add function for checking if name in correct format -->


                <label for="pno">Phone Number:</label>
                <input type="text" id="pno" name="pno" required><br><br>

                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="home">Enter Home Address:</label>
                <input type="text" id="home" name="home" required><br><br>

                <label for="password">Create passsword:</label>
                <input type="password" id="password" name="pass" required minlength="6" maxlength="16"><br><br>

                <label for="confirm">Confirm password:</label>
                <input type="password" id="confirm" name="conf" required minlength="6" maxlength="16"><br><br>

                <button>Submit</button>
                <button type="reset">Reset</button>

            </form>
        </div>
    </div>


</body>

</html>