<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard|Go-VYA</title>
    <style>
        * {
            text-align: center;
        }

        button {
            display: inline-block;
        }

        h1 {
            text-decoration: underline;
        }
    </style>
</head>


<body>
    <h1>Customer Dashboard</h1>
    <p>Welcome Customer {{ username }}</p>
    <p>Id:{{userid}}</p>
    {% if ordercreated %}
    <p id="pop_up">
        Order Created with the Order ID: {{ order_id }}
    </p>
    {% endif %}
    <form action="/cust_funct" method='POST'>
        <input type="hidden" name="user_id" value="{{userid}}">
        <input type="hidden" name="todo" value=1>

        <button>Profile</button>
    </form>
    <form action="/cust_funct" method='POST'>
        <input type="hidden" name="user_id" value="{{userid}}">
        <input type="hidden" name="todo" value=2>
        <button>Create a New Request</button>
    </form>
    
    <form action="/cust_funct" method='POST'>
        <input type="hidden" name="user_id" value="{{userid}}">
        <input type="hidden" name="todo" value=3>
        <button>Check quotes</button>
    </form>
    
    <form action="/cust_funct" method='POST'>
        <input type="hidden" name="user_id" value="{{userid}}">
        <input type="hidden" name="todo" value=4>
        <button>View Current Order's Status</button>
    </form>

    <form action="/cust_funct" method='POST'>
        <input type="hidden" name="user_id" value="{{userid}}">
        <input type="hidden" name="todo" value=11>
        <button>View Completed Orders</button>
    </form>
    
    
</body>

</html>