<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-VYA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/home_styles.css') }}">

</head>

<body>
    <h1>Welcome to GO-VYA</h1>
    <form action="/login" class="button-container">
        <button>Login</button>
    </form>
    <form action="/register" class="button-container">
        <button>New regsiteration</button><br>
    </form>


</body>

</html>