<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|Go-VYA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/login_styles.css') }}">

</head>

<body>
    <div class="container">
        <div class="left-section">
            <form action="/" class="button-container">
                <button class="logo">GO-VYA</button>
            </form>
            <p>GoVYA helps you connect and share with the people in your life.</p>
        </div>
        <div class="right-section">
            <div class="form">
                <form id="myForm" method="POST" action="/User_selector">
                    {{form.csrf_token()}}
                    <br>
                    {{form.text.label()}}
                    {{form.text()}}
                    <br>
                    {{form.password.label()}}
                    {{form.password()}}
                    <br>
                    {{form.submit()}}
                </form>
            </div>
            <div class="register-holder">
                <form action="/register" class="button-container">
                    <button class="register-button">Create new account</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="disclaimer">Table of user and passwords from the database</div>
    <table align="center">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>

            {%for row in data%}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table> -->
</body>

</html>