<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|Go-VYA</title>
    <style>
        /* Style to display buttons inline */
        .button-container {
            display: inline-block;
        }

        #h1 {
            font-size: large;
        }

        .disclaimer {
            color: blue;
        }

        * {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Login</h1>
    <form id="myForm" method="POST" action="/User_selector">
        {{form.csrf_token()}}
        <br>
        {{form.text.label()}}
        {{form.text()}}
        <br>
        {{form.password.label()}}
        {{form.password()}}
        <br>
        {{form.submit()}}
    </form>
    <!-- <div class="disclaimer">Table of user and passwords from the database</div>
    <table align="center">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>

            {%for row in data%}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table> -->
</body>

</html>