<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Registeration|Go-VYA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/register_styles.css') }}">


</head>

<body>
    <p>Which type of account would you like to make?</p>
    <p>
    <form action="/cust_reg" class="button-container">
        <button>Customer</button>
    </form>
    <form action="/prov_reg" class="button-container">
        <button>Provider</button>
    </form>
    </p>
</body>

</html>